body {
    background-color: brown;
    color: white;
    font-size: 24px;
}

p {
    color: aqua;
}

.intro {
    font-size: 30px;
}

.outro {
    color: aliceblue;
}

.highlight {
    background-color: yellow;
}

.accent-color {
    color: black;
}

h1 {
    font-size: 70px;
}

div {
    background-color: green;
    height: auto;
    width: fit-content;
}

span {
    color: #0004ff6c;
    font-size: 30px;
    font-weight: bold;
}

